<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>聊天列表</title>
    <link rel="stylesheet" type="text/css" href="css/qq.css" />
</head>

<body>
    <div class="qqBox">
        <div class="BoxHead">

            <div class="headImg">
                <img src="img/6.jpg" style="margin-top:4px;" />
            </div>

            <div class="internetName">{{username}}<span style="padding-left:30px;">当前在线人数：<em
                        id="usernum">11</em></span></div>

        </div>
        <div class="context">
            <div class="conLeft">
                <select id="toname" onchange="siliao = this.value">
                </select>

                <div class="all">
                    <input type="text" placeholder="@对所有人" id="all_msg" /><input type="submit" value="@所有人"
                        style="background:#0094ff;color:#fff" id="btn_all" />
                </div>

                <div>
                    <button id="a_group">A群</button>
                    <button id="b_group">B群</button>
                </div>
                <div class="all">
                    <input type="text" placeholder="群聊" id="qunliaomsg" /><input type="submit" value="群聊"
                        style="background:#0094ff;color:#fff" id="qun_btn" />
                </div>
            </div>
            <div class="conRight">
                <div class="Righthead">
                    <div class="headName">
                        <!--向<span style="padding-left:15px;padding-right :15px;">ss</span>发送-->
                    </div>
                    <div class="headConfig">
                        <ul>
                            <li><img src="img/20170926103645_06.jpg" /></li>
                            <li><img src="img/20170926103645_08.jpg" /></li>
                            <li><img src="img/20170926103645_10.jpg" /></li>
                            <li><img src="img/20170926103645_12.jpg" /></li>
                        </ul>
                    </div>
                </div>
                <div class="RightCont">
                    <ul class="newsList" style="padding-top:20px;" id="ul_list">

                    </ul>
                </div>
                <div class="RightFoot">
                    <div class="footTop">
                        <ul>
                            <li><img src="img/20170926103645_31.jpg" /></li>
                            <li class="ExP"><img src="img/20170926103645_33.jpg" /></li>
                            <li><img src="img/20170926103645_35.jpg" /></li>
                            <li><img src="img/20170926103645_37.jpg" /></li>
                            <li><img src="img/20170926103645_39.jpg" /></li>
                            <li><img src="img/20170926103645_41.jpg" alt="" /></li>
                            <li><img src="img/20170926103645_43.jpg" /></li>
                            <li><img src="img/20170926103645_45.jpg" /></li>
                        </ul>
                    </div>
                    <div class="inputBox">
                        <textarea style="width: 99%;height: 75px; border: none;outline: none;" name="" rows="" cols=""
                            id="siliaoMsg"></textarea>
                        <button class="sendBtn" id="btn_siliao">私聊</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io('http://localhost:8080');
        socket.on('connect', function () {
            console.log('已连接socket.io')
        });
        socket.on('firstIo', function (data) {
            console.log('测试test中数据data:', data)
        })
        socket.on('disconnect', function () {
            console.log('socket.io 断开')
        })
    </script>



</body>

</html>